.container {

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.button {
  padding: 15px;
  width: 100px;
  height: 70px;
  border: 2px solid;
  border-radius: 15px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.button:hover{
  background-color: white;
  opacity: 0.5;
}

.button::backdrop{
  background-color: brown;
  opacity: 0.7;
}